.chirp {
  padding: 10px;
  margin: 10px;
  background-color: #e8f9ff;
}

.cool-font {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  color: #1da1f2;
}

.jumbotron {
  font-family: 'Muli', sans-serif;
  color: white;
  background-color: #A7D82E;
}

input,
textarea {
  margin: 20px;
}
button {
  text-align: center;
}

img {
  height: auto;
  color: white;
}
.btn {
  margin: 10px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #1da1f2;
  background-color: white;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
}

p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
