<form action="/{{this.id}}?_method=DELETE" method="POST">
  <!-- option 2, pass in the id of the burger inside the form - you would access this in the route using req.body.id not req.params.id -->
  <!-- <input type="hidden" name="id" value="{{this.id}}"> -->
  <button type="submit">DELETE!</button>
</form>

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<title>Burger</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
